<div class="center hero-unit">

<div class="toggle-unit">
  <h1 class="toggle-control" data-text="About us" data-expanded-text="There is no us!">About us</h1>
  <div class="toggle-content">
    <h2>Get outta here!</h2>
  </div><!-- /.toggle-content -->
</div><!-- /.toggle.unit -->
</div>