<div>
	<div class="togle-unit">
	  <h1 class="togle-control" data-text="About us" data-expanded-text="There is no us!">About us
	  </h1>
	  <div class="togle-content">
	    <h2>Get outta here!</h2>
	  </div><!-- /.togle-content -->
	</div><!-- /.togle.unit -->
</div>