<div class="center hero-unit">
 
  <h3>
    <%= link_to "See all projects", projects_path %> | <%= link_to "See all documents", documents_path %>
  </h3>

  <%= link_to "Don't sign up", '#', class: "btn btn-large btn-primary" %><br /><br />
  

</div>